/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

*{
  box-sizing: border-box; 
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.home-container {
  background: url('images/iteration-1-images/home-banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}


.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container p {
  padding: 0;
  margin: 10px;
  text-align: center;
  font-size: 36px;
  color: #FAF7F2;
}

.home-container img {
  padding-top: 20px;
  margin-top: 20px;
  width: 150px;
  height: 30px;
  color: #FAF7F2;
}

.home-container button {
  border: none;
  border-radius: 50px;
  width: 100px;
  height: 30px;
  background-color: #FDC913;
}
